header{
    width: 100%;
    height: 200px;
    background-color: white;
    padding: 0px;
    justify-self: stretch;
    border-bottom: 3px solid gray;
    display: grid;
    position: relative;
}
.header-logo{
    background-color: white;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1FR 3FR 1FR;
    border-bottom: 2px solid gray;
}
.header-img{
    justify-self: end;
}
.header-text{
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    justify-self: center;
    align-self: center;
    font-weight: bold ;
}

nav{
    position: fixed;
    border-top: 3px solid gray;
    z-index: 1000;
    top:0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-self: center;
    justify-self: center;
    z-index: 100;
    position: relative;
    top: -20px;

}
.school-about,.school-event{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-self: center;
    justify-self: stretch;
    z-index: 100;

    
}
.img-div{
    padding: 0px;
    margin: 0;
      
}
.img-div img{
    width: 150px;
    position: relative;
    top: 50px;
    left: 100px;
    border-radius: 50%;
    transform: scale(1.5);
    z-index: 100;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.home,.about,.contact,.gallery,.faculty,.reachus{
    padding: 15px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.home:active,.about:active,.contact:active,.gallery:active,.faculty:active,.reachus:active{
    background-color: rgb(130, 230, 68);  
}

@media (max-width:700px) {
    body{
        width: 100%;
    }
    header{
        width: 00px;
    }
    .header-logo{
        background-color: white;
        padding: 60px;
        padding-top: 10px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: 1FR 250px 1FR;
        border-bottom: 2px solid gray;
    }
    .header-logo img{
            width: 50px;
            height: 50px;
            position: relative;
            left: -50px;
            top: 10px;
        }
        .header-logo-2 img{
            width: 50px;
            height: 50px;
            position: relative;
            left: 50px;
            top: 10px;
    }
    .header-img{
        justify-self: start;
    }
    .header-text{
        padding-left:0px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        justify-self: center;
        align-self: center;
        font-weight: bold ;
    }
    
nav{
    width: 100%;
    font-size: 11px;
}



.home,.about,.contact,.gallery,.faculty,.reachus{
 
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
}

}
